version: '3.8'

services:
  frontend:
    container_name: frontend-tradingbot
    build:
      context: .
      dockerfile: Dockerfile
      # CORRECTION : args est bien indenté sous "build"
      args:
        NEXT_PUBLIC_API_BASE_URL: https://admin.newwaydev.com/api
        NEXT_PUBLIC_MODE: "PRODUCTION"
    restart: always
    ports:
      - "8081:3000"
    environment:
      - NODE_ENV=production
      # Le secret privé reste ici (Runtime)
      - HMAC_SECRET=664deafa33e24593d24bb810c5c727fdae5bb4d718d2ea6e979e57daf6d8e275
      - COOKIE_SECURE=true