version: '3.8'

services:
  frontend:
    container_name: frontend-tradingbot
    build:
      context: .
      dockerfile: Dockerfile
      # CORRECTION : args est bien indenté sous "build"
      args:
        NEXT_PUBLIC_API_BASE_URL: https://admin.newwaydev.com/api
        NEXT_PUBLIC_MODE: "PRODUCTION"
    restart: always
    ports:
      - "127.0.0.1:8081:3000"
    environment:
      - NODE_ENV=production
      # Le secret privé reste ici (Runtime)
      - HMAC_SECRET=b532ccf4b1e3d6bc2e4275fb02a590f6068c35e2aa687d41455ea6b222b87303
      - COOKIE_SECURE=true